{% extends "Base.html" %}

{% block content %}
<style>
    .table-coffee thead th {
        background-color: #6f4e37;
        color: #ffffff;
    }
    .table-coffee {
        background-color: #fdfaf6;
    }
</style>

<h2 class="text-center mt-5" style="color: #8b4513;">ยินดีต้อนรับสู่ลูกค้า VVIP</h2>

<table class="table table-hover table-coffee mt-5">
    <thead>
        <tr class="text-center">
            <th scope="col">ลำดับ</th>
            <th scope="col">ชื่อลูกค้า</th>
            <th scope="col">อายุ</th>
            <th scope="col">วันที่เพิ่มข้อมูล</th>
            <th scope="col">แก้ไข</th>
            <th scope="col">ลบ</th>
        </tr>
    </thead>
    <tbody>
        {% for person in all_person %}
        <tr class="text-center">
            <th scope="row" class="align-middle">{{ person.id }}</th>
            <td class="align-middle">{{ person.name }}</td>
            <td class="align-middle">{{ person.age }}</td>
            
            <td class="align-middle">{{ person.created_at|date:"F j, Y" }}</td>
            
            <td class="align-middle">
                <a href="#" class="btn btn-sm text-white" style="background-color: #d63384;">แก้ไข</a>
            </td>
            <td class="align-middle">
                <a href="#" class="btn btn-sm text-white" style="background-color: #fd7e14;">ลบ</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}