{% extends "Base.html" %}

{% block title %}
    <title>Member Registration | COFFEE SPACE</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-center text-white" style="background-color: #8b4513;; padding: 15px;">
                    <h4 class="mb-0">แบบฟอร์มบันทึกลูกค้าสะสมแต้ม</h4>
                </div>
                
                <div class="card-body p-4">
                    <form method="post" action="">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label for="name" class="form-label">ชื่อลูกค้า</label>
                            <input type="text" class="form-control" name="name" placeholder="กรุณากรอกชื่อ-นามสกุล">
                        </div>

                        <div class="mb-3">
                            <label for="age" class="form-label">อายุ</label>
                            <input type="number" class="form-control" name="age" placeholder="กรอกข้อมูลอายุเป็นตัวเลข">
                        </div>

                        <div class="text-center mt-4">
                            <button type="submit" class="btn text-white me-2" style="background-color: #d63384; min-width: 120px;">ลงทะเบียน</button>
                            
                            <button type="reset" class="btn text-white" style="background-color: #fd7e14; min-width: 120px;">ล้างข้อมูล</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
    </div>
</div>
{% endblock %}